/* CSS Document */
@font-face{
	font-family: Figtree-Medium;
	src: url("assets/fonts/static/Figtree-Medium.ttf");
}
@font-face {
	font-family: Figtree-ExtraBold;
	src: url("assets/fonts/static/Figtree-ExtraBold.ttf");
}

body{
	background-color: var(--clrBG);
	font-family: Figtree-Medium;
	font-size: 16px;
	min-height: 100vh;
        display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	marjin: 0;
}

:root{
	--clrBG: hsl(47, 88%, 63%);
	--clrWHITE: hsl(0, 0%, 100%);
	--clrGRAY: hsl(0, 0%, 50%);
	--clrBLACK: hsl(0, 0%, 7%);
}

.card{
	background-color: var(--clrWHITE);
	width: 380px;
	height: 520px;
	border-radius: 20px;
	box-shadow: 8px 8px 0px;
	border: solid black 1px;
}

.card .img{
	text-align: center;
	margin-top: 20px;
}

.card .img img{
	border-radius: 10px;
}

.card .lear{
	background-color: var(--clrBG);
	padding: 6px 12px 6px 12px;
	border-radius: 5px;
	font-family: Figtree-ExtraBold;
	position: relative;
	top: 25px;
	font-size: 14px;
}

.lear, .date , .caption, h1, .user{
	margin-left: 23px;
}

.card .date{
	font-size: 14px;
	margin-top: 45px;
}

.card h1{
	font-size: 1.46em;
	font-family: Figtree-ExtraBold;
	color: var(--clrBLACK);
}

.card .caption{
	color: var(--clrGRAY);
	font-size: 1em;
	line-height: 1.6em;
}

.card .user{
	display: flex;
	align-items: flex-start;
	text-align: center;
	margin-top: 25px;
}

.card .user .name{
	font-size: 13px;
	font-weight: bold;
	position: relative;
    bottom: 5px;
	margin-left: 15px;
}

.card .user img{
	width: 33px;
}

.card h1:hover{
	color: var(--clrBG);
}

@media screen and (max-width: 475px){
	.card{
		width: 330px;
		height: 475px;
	}

	.card .img img{
		width: 300px;
	}

	.card .lear{
		font-size: 12px;
		top: 22px;
	}

	.card .date{
		font-size: 12px;
		margin-top: 45px;
	}

	.card h1{
		font-size: 1.25em;
	}
	
	.card .caption{
		font-size: .85em;
	}

	.card .user .name{
		font-size: 12px;
		bottom: 2px;
	}
	
	.card .user img{
		width: 28.5px;
	}
}

@media screen and (max-width: 375px){
	.card{
		width: 300px;
		height: 445px;
	}

	.card .img img{
		width: 270px;
	}

	.card .lear{
		font-size: 11px;
		top: 20px;
	}

	.card .date{
		font-size: 11px;
		margin-top: 45px;
	}
	
	.card h1{
		font-size: 1.2em;
	}
	
	.card .caption{
		font-size: .8em;
	}

	.card .user .name{
		font-size: 11px;
		bottom: 2px;
	}
	
	.card .user img{
		width: 27px;
	}
}
